<component name="libraryTable">
  <library name="spring-web-5.3.20">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/ssmBase/web/WEB-INF/lib/spring-web-5.3.20.jar!/" />
      <root url="jar://$PROJECT_DIR$/ssmBase/web/WEB-INF/lib/spring-webmvc-5.3.20.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>